<a href="https://colab.research.google.com/github/24ht1a4326-coder/Aravind1307/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

addition of two numbers

In [ ]:
a=10
b=15
c=a+b
print("addition is", c)

addition is 25

largest of three numbers

In [ ]:
a = 10
b = 14
c = 12
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

The largest number is 14

swapping of two mumbers

In [ ]:
x=5
y=7
print("before swapping:")
print("value of x:", x)
print("value of y:", y)
x,y=y,x
print("after swapping:")
print("value of x:", x)
print("value of y:", y)

before swapping:
value of x: 5
value of y: 7
after swapping:
value of x: 7
value of y: 5

prime with an intervel

In [ ]:
lower=900
upper=1000
print("prime number between", lower, "and",upper,"are:")
for num in range (lower,upper+1):
  if num>1:
    for i in range (2,num):
      if(num%i)==0:
        break
    else:
      print(num)

prime number between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

add and multiply complex  numbers

In [ ]:
def addComplex(z1, z2):
    return z1 + z2

def mulComplex(z1, z2):
    return z1 * z2

z1 = complex(2, 3)
z2 = complex(1, 2)

print("Addition is :", addComplex(z1, z2))
print("Multiplication is :", mulComplex(z1, z2))

Addition is : (3+5j)
Multiplication is : (-4+7j)

multiplication table of number

In [ ]:
num=12
for i in range (1,11):
  print(num,'x',i,'=',num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120