<a href="https://colab.research.google.com/github/24ht1a4326-coder/Aravind1307/blob/main/Exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

define a function using multiple return values

In [ ]:
def name():
  return "jhon","amen"

print(name())
name1,name2 = name()
print(name1,name2)

('jhon', 'amen')
jhon amen

define function using deafuly arguments

In [ ]:
def student(firstname, lastname='mark', standard="fifth"):
  print(firstname, lastname, 'in standard', standard)

# 1 keyword argument
student(firstname='jhon')

# 2 keyword arguments
student(firstname='jhon', standard='seventh')

# 2 keyword arguments
student(lastname='gates', firstname='jhon')

jhon mark in standard fifth
jhon mark in standard seventh
jhon gates in standard fifth

find the length of string without using any library functions

In [ ]:
string=input("enter the string.")
count=0
for i in string:
  count=count+1
print("length of the string is.", count)

enter the string.1
length of the string is. 1

write a program to check if the substring is present in a given string or not

In [ ]:
string=input("enter the string.")
sub_string=input("enter word.")

if sub_string in string:
  print("substring is present in the string.")
else:
  print("substring is not present in the string.")

enter the string.hello world
enter word.word:world
substring is not present in the string.

write a program to perform the given operations on a list

Addition

In [ ]:
test_list = [1, 3, 4, 6, 8]
test_list2 = test_list + [10]
print("orginal list 1:", test_list)
print("list after addition:", test_list2)

orginal list 1: [1, 3, 4, 6, 8]
list after addition: [1, 3, 4, 6, 8, 10]

insertion

In [ ]:
score=[43,45,99,76]
score.insert(2,45)
print(score)

[43, 45, 45, 99, 76]

slicing

In [ ]:
#intialize list
list=[1,2,3,4,5,6,7,8,9]
#show orginal list
print("orginal list:\n",list)
print("\nsliced lists.")

orginal list:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

sliced lists.

perform any 5 built in functions by taking any list

In [ ]:
#An integrer
var =-94
print('absolut value of integer is:',abs(var))

absolut value of integer is: 94

In [ ]:
#all value true
k=[1,3,4,6]
print(all(k))
#all values false
k=[0,False]
print(all(k))
#one false value
k=[1,3,7,0]
print(all(k))
#one true value
k=[0,False,5]
print(all(k))
#empty literable
k=[]
print(all(k))

True
False
False
False
True

In [ ]:
x=10
y=bin(x)
print(y)

0b1010

In [ ]:
string="hello world."
array=bytes(string,'utf-8')
print(array)

b'hello world.'

In [ ]:
s=sum([1,2,4])
print(s)
s=sum([1,2,4],10)
print(s)

7
17