<a href="https://colab.research.google.com/github/24ht1a4326-coder/Aravind1307/blob/main/Exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

write a programme create tuples(names,age,address)for at least two mumbers and concatenate the tuples and print the concatenate tuples

In [3]:
member1=("Alice",22,"123 maple street","university of wonderland")
member2=("bob",25,"456 oak avenue","university of wonderland")
concatenated_tuple=member1+member2
print(concatenated_tuple)

('Alice', 22, '123 maple street', 'university of wonderland', 'bob', 25, '456 oak avenue', 'university of wonderland')

to count the numbers of vowels in a string (no control flow allowed)

In [11]:
string=input("enter a string:")
count=0
string=string.lower()
for i in string:
  if i in "aeiou":
    count+=1
if count==0:
  print("no vowels found")
else:
  print('number of vowels:',count)

enter a string:prepinsta
number of vowels: 3

write a programme to check if a given key exists in a dictionary or not

In [16]:
dictexample={'amen':110,'rajesh':440,'suraj':990}
print("example1")
try:
  dictexample["kamal"]
  print('the key exists in the dictionary')
except KeyError:
  print('the key does not exist in the dictionary')
  print("example2")
try:
  dictexample["suraj"]
  print('the key exists in the dictionary')
except KeyError:
  print('the key does not exist in the dictionary')

example1
the key does not exist in the dictionary
example2
the key exists in the dictionary

write a programme to add a new key-value pair to an existing dictionary

In [20]:
my_dict={
    "name":"alice",
    "age":"22",
    "adress":"123 maple street"
}
print("original dictionary:",my_dict)
my_dict["university"]="university of wonderland"
print("updated dictionary:",my_dict)

original dictionary: {'name': 'alice', 'age': '22', 'adress': '123 maple street'}
updated dictionary: {'name': 'alice', 'age': '22', 'adress': '123 maple street', 'university': 'university of wonderland'}

write a programme to sum of all the items in a given dictionary

In [21]:
my_dict={
    "a":10,
    "b":20,
    "c":30,
    "d":40,
}
total=sum(my_dict.values())
print("total:",total)
#

total: 100